<h1 mat-dialog-title> {{title}} user </h1>

<div mat-dialog-content>
    <mat-form-field class="w-full">
        <mat-label>Username</mat-label>
        <input matInput [(ngModel)]="user.username" [disabled]="isView" required>
    </mat-form-field>
    <mat-form-field class="w-full">
        <mat-label>Password</mat-label>
        <input matInput [(ngModel)]="user.password" [disabled]="isView" required>
    </mat-form-field>
    <mat-form-field class="w-full">
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="user.email" [disabled]="isView" required>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Active</mat-label>
        <mat-select [(ngModel)]="user.active" [disabled]="isView">
            <mat-option [value]="true">True</mat-option>
            <mat-option [value]="false">False</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Roles</mat-label>
        <mat-select [compareWith]="compareFn" [(ngModel)]="user.roles" multiple [disabled]="isView">
            <mat-option *ngFor="let role of roleList" [value]="role">{{role.name}}</mat-option>
        </mat-select>
    </mat-form-field>

</div>

<div mat-dialog-actions class="flex justify-end mt-4">
    <button mat-button (click)="cancel()" class="w-32 text-white bg-red-500 hover:bg-red-700">
        {{ isView ? 'Close' : 'Cancel' }}
    </button>
    <button *ngIf="!isView" mat-button [mat-dialog-close]="user" (click)="accept()" cdkFocusInitial
        class="w-32 text-white bg-blue-500 hover:bg-blue-700">
        Accept
    </button>
</div>