<h1 mat-dialog-title> {{title}} empresa </h1>

<div mat-dialog-content>
    <mat-form-field class="form-field">
        <mat-label>Nombre de empresa</mat-label>
        <input matInput [(ngModel)]="empresa.nombre" [disabled]="isView">
    </mat-form-field>
    <mat-form-field class="form-field">
        <mat-label>RUC</mat-label>
        <input matInput [(ngModel)]="empresa.ruc" [disabled]="isView">
    </mat-form-field>
    <mat-form-field class="form-field">
        <mat-label>Direccion</mat-label>
        <input matInput [(ngModel)]="empresa.direccion" [disabled]="isView">
    </mat-form-field>
</div>

<div mat-dialog-actions class="">
    <button mat-button (click)="cancel()" class="">
        {{ isView ? 'Cerrar' : 'Cancelar' }}
    </button>
    <button *ngIf="!isView" mat-button [mat-dialog-close]="empresa" (click)="accept()"
        cdkFocusInitial class="">
        Aceptar
    </button>
</div>